.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
   
}
.content .error{
    font-weight:900;
    font-size: 45px;
}