.header{
    width: 100%;
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    
}
.header .add{
    margin-left: 25px;
    
}
.header .add form{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.header .add  .title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.header .add  .content{
    margin-top: 10px;
    margin-bottom: 10px;
}
.header > .add  > .title{
    width: 300px;
    height:45px;
    background-color: #EAE4E4;
    border-radius: 65px;
    border: 2px solid #707070;
}

.header > .add  > .title input{
    width: 100%;
    height: 85%;
    background-color: transparent;
    border: none;
    border-radius: 65px;
    outline:none;
    padding-left: 20px;
}

.header > .add  > .content{
    width: 300px;
    height:45px;
    background-color: #EAE4E4;
    border-radius: 65px;
    border: 2px solid #707070;
}

.header > .add  > .content input{
    width: 100%;
    height: 85%;
    background-color: transparent;
    border: none;
    border-radius: 65px;
    outline:none;
    padding-left: 20px;
}

.header > .add  > .buttons .save{
    width: 40px;
    height: 40px;
    background-color:#5D19F5;
    border: none;
    border-radius: 65px;
    outline:none;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-style: bolder;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.header > .add  > .buttons > div {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.header > .add  > .buttons > div .theme{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
   
    margin-left: 10px;
}
.first{
    background-color:#21E27A;
    
}
.second{
    background-color:#F5A727;
}
.third{
    background-color:#EA0A3E;
}
.header > .add  > .buttons {
    display: flex;
    justify-content: flex-start;
    
}

.dropdown{
    margin-top: 75px;
    position: fixed;
    z-index: 9999;
    right:20px;
    top: -15px;
    padding:10px;
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
}
.dropdown span{
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    cursor: pointer;
}


@media screen and (max-width:768px){
    .header{
        align-items:center;
    }
    .header .add{
        margin-left: 0px;
        
    }
}