.note{
    width: 300px;
    background-color:rgba(245, 167, 39, .35);
    margin-top: 10px;
    border-radius:10px;
    padding:50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.preview{
    width: 300px;
    margin-top: 10px;
    border-radius:10px;
    padding:50px;
    margin-top: 45px;
}
.note > h1{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    
}
.note > h3{
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 300;
    
}
.preview > h1{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    
}
.preview > h3{
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 300;
    
}